<%= render partial: 'shared/trappeNav' %>


<h2 align="center">Pick a Location For Sales Order </h2>


<div class='store'>
	<ul class="list-group">
	  <a href="/trappe/dover/sales"><button type="button" <li class="list-group-item list-group-item-action">Dover Road</li></button></a>
	  <a href=""><button type="button"<li class="list-group-item list-group-item-action">ByPass</li></button></a>  
	  <a href=""><button type="button"<li class="list-group-item list-group-item-action">Cambridge</li></button></a>
	</ul>
</div>