<h1>Order</h1>

<div class="table-responsive">          
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Product</th>
        <th>Max</th>
        <th>Current Quantity</th>
        <th>Quantity Needed</th>
      </tr>
    </thead>
    <tbody>

	<% @inventories.each do |inventory| %>
	  <tr>
	    <td><%= inventory.product.name %></td>
	    <td><%= inventory.product.max %></td>	
	    <td><%= inventory.amount %></td>	
	    <td><%= inventory.product.max.to_i - inventory.amount  %></td>
	 </tr>
	<% end %>

    </tbody>
  </table>

  </div>
</div>