<%= render partial: 'shared/userNav' %>


<u><h2 align="center">Pick a Location</h2></u>


<div class='store'>
	<h3>Prep Center </h3>
	<ul class="list-group">
	  <a href="/trappe/inventory/new"><button type="button"<li class="list-group-item list-group-item-action">Trappe</li></button></a>	  
	</ul>
	<h3 class=''>Stores</h3>
	<ul class="list-group">
	  <a href="/dover/inventory/new"><button type="button" <li class="list-group-item list-group-item-action">Dover Road</li></button></a>
	  <a href="/bypass/inventory/new"><button type="button"<li class="list-group-item list-group-item-action">ByPass</li></button></a>
	  <a href="/cambridge/inventory/new"><button type="button"<li class="list-group-item list-group-item-action">Cambridge</li></button></a>
	</ul>
</div>