<h2 align="center">Pick a Store </h2>


<div class='store'>
	<ul class="list-group">
	  <a href="/dover/inventory/new"><button type="button" <li class="list-group-item list-group-item-action">Dover Road</li></button></a>
	  <a href="/trappe/inventory/new"><button type="button"<li class="list-group-item list-group-item-action">Trappe</li></button></a>
	</ul>
</div>