<% if user_signed_in? %>

<div class='navbar'>
  <ul>
    <li><a href="/cambridge/inventory/new">Create new Inventory</a></li>
    <li><a href="/cambridge/inventory">View all orders</a></li>
    <li><a href="/">Choose Store</a></li>
    <% if current_user.admin? %>
        <li><a href="/cambridge/products">View all products</a></li>
        <li><a href="/cambridge/products/new">Add New Product</a></li>
        <li><a href="/users/new">Create User</a></li>
    <% end %>
    <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>  
    <li class='pull-right store-color'><a style='color:green'> Cambridge</a> </li>  
  </ul>
</div>

<% end %>