<% if user_signed_in? %>

<div class='navbar'>
  <ul>
    <li><a href="/trappe/products/new">Add New Product</a></li>
    <li><a href="/trappe/inventory/new">Create new Inventory</a></li>
    <li><a href="/trappe/inventory">View all orders</a></li>
    <li><a href="/trappe/products">View all products</a></li>
    <li><a href="/sign_up">Create User</a></li>
    <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>    
  </ul>
</div>

<% end %>