
<div class='navbar'>
  <ul>
    <li><a href="/">Choose Store</a></li>
	<% if current_user.admin? %>
    	<li><a href="/users/new">Create User</a></li>
    	<li><a href="/users">All Users</a></li>
	<% end %>
    <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>    
  </ul>
</div>
